.controller
  img.exit(src="img/icon-exit.png" title="结束 [q]")
  img.summary(src="img/icon-list.png" title="统计显示 [?]")
  img.sound.on(src="img/icon-volume-up.png" title="音声OFF [a]")
  img.sound.off(src="img/icon-mutealt.png" title="音声ON [a]")
  img.analyzer(src="img/icon-lightbulb-idea.png" title="検討ON/OFF [i]")
  img.export(src="img/icon-export.png" title="天鳳牌谱 [t]")
  div
  img.first(src="img/icon-step-backward.png" title="配牌/前局 [←]")
  img.prev(src="img/icon-backward.png" title="返回 [↑]")
  img.play.on(src="img/icon-play.png" title="继续 [space]")
  img.play.off(src="img/icon-pause.png" title="停止 [space]")
  img.next(src="img/icon-forward.png" title="前进 [↓]")
  img.last(src="img/icon-step-forward.png" title="结果/次局 [→]")

  .speed
    img.minus(src="img/icon-minus-sign.png" title="速度- [-]")
    span
    span
    span
    span
    span
    img.plus(src="img/icon-plus-sign.png" title="速度+ [+]")
