#loaderr(style="display: none")
  p
    | 程序的ロード在错误が发生しました。
    | お使い的浏览器在は执行在きない可能性が有ます。
    | リロード进行问题が解决不的情况下、
    | Google Chromeなど最新的浏览器在访问请尝试。
  
  script.
    window.onload = function(){
      var elem = document.getElementById('loaderr');
      if (typeof Majiang === 'undefined') elem.removeAttribute('style');
    }
